[Unit]
Description=ISS MOEX proxy service
After=network.target

[Service]
User=nobody
Group=nogroup
ExecStart=/usr/bin/issmoexproxy

RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
